@media screen and (max-width: 768px) {

/* DESLIGA SNAP */
html {
    scroll-snap-type: none;
}

body::before {
    display: none;
}


.frame {
    padding: 18px 14px;
}


.aboutme {
    display: flex;
    flex-direction: column;
    gap: 5px;

    max-width: 100%;
    min-height: auto;
    padding: 22px;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
}

header img {
    height: 120px;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

header h2 {
    margin: 0;
    font-size: 18px;
}


#contacts {
    text-align: center;
    margin: 10px 0;
    order: 3;
}


#softwares {
    width: 100%;
    order: 2;
}

.items {
    margin: auto;
    width: 100%;
    max-width: 260px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 5px;
}

.items img {
    width: 44px;
}

#ornamento {
    display: none;
}

.renda-conteudo{
    display:none;
}

.renda-mobile{
    display:block;
    width:100%;
}

#rendabox{
    background:none;
    padding:0;
    order: 2;
}

#gifpixel img {
  display: none;
}


#bear {
    width: 80vw;
    max-width: 320px;
}

/* PROJETOS */
#proje,
.projetos {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 100%;
    min-height: auto;
}

#projeh1 {
    font-size: 2.2em;
    text-align: center;
}

.video img,
.cake img {
    width: 100%;
    border-radius: 20px;
}

.projetext,
.textcake {
    display: flex;
    flex-direction: column;
    gap: 0px;
    text-align: center;
    margin: 0;
}

.textcake h1,
.projetext h1 {
    font-size: 1.8em;
    gap: 0px;
    
   
}

.textcake h2,
.projetext h2 {
    font-size: 1em;
    margin: 0;
    gap: 0px;
    align-self: flex-start;
    text-indent: 5px;
    color: #BF93D8;
    
   
}

.resumo {
    text-align: center;
}

.resumo p {
    margin-top: 12px;
    font-family: digitaldisco;
    font-size: 1em;
    line-height: 1.5em;
}

.resumo button {
    width: 100%;
    max-width: 260px;
    margin: 16px auto 0 auto;
    transition: transform 0.2s ease;
}

.projetos {
    margin-top: 40px;
}


}



