@media screen and (max-width: 768px) {

/* DESLIGA SNAP */
html {
    scroll-snap-type: none;
}

body::before {
    display: none;
}


.frame {
    padding: 18px 14px;
}


.aboutme {
    display: flex;
    flex-direction: column;
    gap: 26px;

    max-width: 100%;
    min-height: auto;
    padding: 22px;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
}

header img {
    height: 120px;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

header h2 {
    margin: 0;
    font-size: 18px;
}


#contacts {
    text-align: center;
    margin: 10px 0;
}


#softwares {
    width: 100%;
}

.items {
    margin: auto;
    width: 100%;
    max-width: 260px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 12px;
}

.items img {
    width: 44px;
}

#ornamento {
    display: none;
}

.renda-conteudo{
    display:none;
}

.renda-mobile{
    display:block;
    width:100%;
}

#rendabox{
    background:none;
    padding:0;
}

#gifpixel img {
  display: none;
}


#bear {
    width: 70vw;
    max-width: 320px;
}

/* PROJETOS */
#proje,
#dress {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 100%;
    min-height: auto;
}

#projeh1 {
    font-size: 2.2em;
    text-align: center;
}

.video img,
#video img {
    width: 100%;
    border-radius: 20px;
}

.text2,
#dresstext {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    margin: 0;
}

.text2 h1,
#dresstext h1 {
    font-size: 1.8em;
}

.text2 h2,
#dresstext h2 {
    font-size: 1em;
    margin: 0;
}

.resumocake {
    text-align: center;
}

.resumocake p {
    margin-top: 12px;
    font-family: digitaldisco;
    font-size: 1em;
    line-height: 1.5em;
}

.resumocake button {
    width: 100%;
    max-width: 260px;
    margin: 16px auto 0 auto;
    transition: transform 0.2s ease;
}

#dress {
    margin-top: 40px;
}


}



