@charset "UTF-8";

@font-face {
    font-family: "alagard";
    src: url("assets/alagard.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
    
}

@font-face {
    font-family: "digitaldisco";
    src: url(assets/DigitalDisco.ttf) format("truetype");
    font-weight: lighter;
    font-style: normal;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: alagard, Arial, Helvetica, sans-serif;
    font-weight: lighter;
    
}
html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}


body {
    background-color: #171619;
    min-height: 100svh;
    color: white;
    
}

body::before {
    content: "";
    position: fixed;
    inset: clamp(8px, 2vw, 20px);
    background: url("assets/bordano.png") center no-repeat;
    background-size: 1860px 885px;
    

    pointer-events: none;
    z-index: 1000;
}

#intro {
    position: fixed;
    inset: 0;
    background: #bc82ffdc;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 9999;
    cursor: pointer;
    transition: opacity .8s ease;
}


#bear {
    width: 900px;
    image-rendering: pixelated;
    animation: idle 1.8s infinite ease-in-out;
}

@keyframes idle {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-6px); }
    100% { transform: translateY(0px); }
}

#intro.hide {
    opacity: 0;
    pointer-events: none;
}

.frame {
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}



.aboutme {
    display: grid;
    grid-template-columns: 450px auto;
    grid-template-rows: 180px 2fr  2fr;
    grid-auto-flow: column;
    
    
    min-height: 760px;
    height: auto;


    padding: 30px;
    background-color: #171619;
    border-radius: 45px;
    box-shadow: rgba(230, 205, 253, 0.438) 0px 0px 20px 15px;
}
header {
    display: grid;
    grid-template: 50% 45% / 35% 65%;
    gap: 5px;
}

header img {
   height: 170px;
   grid-area: 1/1/2/3;
}

header h1{
    grid-area: 1/2/2/3;
    text-align: justify;
    margin-left: 35px;
    margin-top: 20px;
    font-family: alagard;
    font-weight: lighter;
    font-size: 35px;
}

header h2 {
    grid-area: 2/2/3/3;
    margin-left: 35px;
    font-family: alagard;
    font-weight: lighter;
    font-size: 25px;
}
header span {
    font-family: digitaldisco;
}
article#contacts {
    grid-area: 1/2/2/-1;
   
}

#contacts > h2 {
    text-align:  center;
    color: #BF93D8;
    font-family: alagard;
    font-size: 28px;
    margin-top: 20px;
    font-weight: lighter;
}

#contacts p {
    font-family: digitaldisco;
    text-align: center;
    font-size: 1.1em;
    margin-top: 15px; 
    line-height: 20px;
    
}

#rendabox {
    position: relative;
    grid-area: 2/1/-1/2;
    overflow: hidden;
    background: #d9d4dd00;
}


.renda-conteudo > img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
    pointer-events: none;
}

.renda-mobile{
    display:none;
}


.renda-conteudo > *:not(img) {
    position: relative;
    z-index: 1;
}

#rendabox h1 {
    margin-top: 89px;
    padding: 0px 30px;
    color: #BF93D8;
    font-family: alagard;
    font-weight: 50;
    font-size: 28px;

}

#rendabox p {
    margin-top: 12px;
    padding: 0px 30px;
    text-align: left;
    color: #171619;
    font-family: digitaldisco;
    line-height: 18.5px;
    font-size: 1.3em;
    
}

#rendabox h2 {
    margin-top: 15px;
    padding: 5px 30px;
    color: #BF93D8;
    font-family: alagard;
    font-weight: lighter;
    font-size: 28px;

}

article#softwares {
   grid-area: 2/2/3/-1;
    
}
.text  {
    text-align: center;
    margin-bottom: 5px;
}

.text h2 {
    text-align:  center;
    color: #BF93D8;
    font-family: alagard;
    font-weight: lighter;
    font-size: 28px;
}

.items {
    position: relative;
    display: grid;
    grid-template: repeat(2, 45px) /repeat(4, 45px);
    gap: 15px;
    
    align-content: center;
    justify-content: center;
    align-items: stretch;

    width: 357px;
    height: 201px;
    
    
}
.items img {
    position: relative;
    z-index: 2;
    image-rendering: optimizeQuality;
    cursor: help;
    transition: transform 0.3s;
}

.items img:hover {
    transform: scale(1.15);
    
}
    

#ornamento {
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}

article#gifpixel {
    grid-area: 3/2/4/-1;
    text-align: center;
    
}

#gifpixel > img {
    image-rendering: pixelated;
    width: 280px;
    border-radius: 25px; 
}


/*Projetos*/

#proje {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px 500px ;
    gap: 45px;

    
    max-width: 950px;
    min-height: 760px;

    padding: 30px;
    border-radius: 45px;
}

.text2 {
    display: grid;
    grid-template: 10% 90% / 1fr 1fr;
    gap: 20px;
    margin-left: 15px;
}

#projeh1 {
    grid-area: 1/1/2/-1;
    font-size: 6em;
    text-align: center;
    
    
}

.video {
    grid-area: 2/1/-1/2;
    
    justify-items: center;
    text-align: left;
}

.video img {
    border-radius: 20px;
}


.text2 h1 {
    grid-area: 1/1/2/2;
    font-size: 3em;
    text-align: left;
    
    

}
.text2 h2 {
    grid-area: 1/2/2/-1;
    font-size: 1.1em;
    text-align: right;
    margin-top: 20px;
    font-weight: lighter;
    
}

.resumocake {
    grid-area: 2/1/-1/-1;
    text-align: left;
    
}

.resumocake p {
    margin-top: 15px;
    font-family: digitaldisco;
    line-height: 23px;
    font-size: 1.4em;
}

.resumocake button {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-family: digitaldisco;
    line-height: 23px;
    font-size: 1.4em;
    background-color: #BF93D8;
    color: white;
    border: 3.5px solid #674192;
    border-radius: 10px;
}

button:hover {
    transform: scale(1.07);
    transition: transform 0.2s ease; 
    cursor: pointer;
}

#dress {
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px ;
    gap: 45px;

    
    max-width: 950px;
    min-height: 760px;

    padding: 30px;
    border-radius: 45px;
}

#dresstext {
    grid-area:  1/2/-1/-1;
    display: grid;
    grid-template: 10% 90% / 1fr 1fr;
    gap: 20px;
    margin-left: 15px;
}

#dresstext h1 {
    grid-area: 1/1/2/2;
    font-size: 3em;
    text-align: left;
}
#dresstext h2 {
    grid-area: 1/2/2/-1;
    font-size: 1.1em;
    text-align: right;
    margin-top: 20px;
    font-weight: lighter;
}

#video {
    grid-area: 1/1/-1/2;
    
    justify-items: center;
    text-align: left;
}

#video img {
    border-radius: 20px;
}