#proje {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 130px 500px;
  gap: 45px;

  max-width: 950px;
  min-height: 760px;

  padding: 30px;
  border-radius: 45px;
}
.textcake {
  display: grid;
  grid-template: 10% 90% / 1fr 1fr;
  gap: 20px;
  margin-left: 15px;
}
#projeh1 {
  grid-area: 1/1/2/-1;
  font-size: 6em;
  text-align: center;
}
.cake {
  grid-area: 2/1/-1/2;
  justify-items: center;
  text-align: left;
}
.cake img {
  border-radius: 20px;
}
.textcake h1 {
  grid-area: 1/1/2/2;
  font-size: 3em;
  text-align: left;
}
.textcake h2 {
  grid-area: 1/2/2/-1;
  font-size: 1.1em;
  text-align: right;
  margin-top: 20px;
  font-weight: lighter;
}
.resumo {
  grid-area: 2/1/-1/-1;
  text-align: left;
}
.resumo p {
  margin-top: 15px;
  font-family: digitaldisco;
  line-height: 23px;
  font-size: 1.4em;
}
.resumo button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  font-family: digitaldisco;
  line-height: 23px;
  font-size: 1.4em;
  background-color: #bf93d8;
  color: white;
  border: 3.5px solid #674192;
  border-radius: 10px;
}
button:hover {
  transform: scale(1.07);
  transition: transform 0.2s ease;
  cursor: pointer;
}
.projetos {
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px;
  gap: 45px;

  max-width: 950px;
  min-height: 760px;

  padding: 30px;
  border-radius: 45px;
}
.projetext {
  grid-area: 1/2/-1/-1;
  display: grid;
  grid-template: 10% 90% / 1fr 1fr;
  gap: 20px;
  margin-left: 15px;
}
.projetext h1 {
  grid-area: 1/1/2/2;
  font-size: 3em;
  text-align: left;
}
.projetext h2 {
  grid-area: 1/2/2/-1;
  font-size: 1.1em;
  text-align: right;
  margin-top: 20px;
  font-weight: lighter;
}
.video {
  grid-area: 1/1/-1/2;
  justify-items: center;
  text-align: left;
}
.video img {
  border-radius: 20px;
}
